<div class="container">
  <h1 class="text-primary text-center mt-5">Buy Tickets</h1>

  <form
    [formGroup]="buyTicketForm"
    novalidate
    class="form text-center border border-light p-5"
    (ngSubmit)="buyTickets()"
  >
    <input
      type="text"
      formControlName="emailControl"
      class="form-control mb-4"
      placeholder="Enter Email"
    />
    <input
      type="text"
      formControlName="phoneControl"
      class="form-control mb-4"
      placeholder="Enter Phone"
    />

    <form formGroupName="address">
      <input
        type="text"
        formControlName="streetControl"
        class="form-control mb-4"
        placeholder="Enter Street"
      />
      <input
        type="text"
        formControlName="postalCodeControl"
        class="form-control mb-4"
        placeholder="Enter Postal Code"
      />
      <div class="form-group">
        <button class="btn btn-primary" (click)="addTicket()">
          Add Tickets
        </button>
      </div>
    </form>
    <div
      formArrayName="tickets"
      *ngFor="let t of tickets.controls; let i = index"
    >
      <div class="row" [formGroupName]="i">
        <div class="col-md-2">
          <p class="lead">Ticket {{ i + 1 }}</p>
        </div>
        <div class="col-md-5">
          <input
            id="{{ 'name' + i }}"
            type="text"
            formControlName="name"
            class="form-control mb-4"
            placeholder="Name"
          />
        </div>
        <div class="col-md-5">
          <input
            id="{{ 'age' + i }}"
            type="number"
            formControlName="age"
            class="form-control mb-4"
            placeholder="age"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-5">
          <div
            class="alert alert-danger"
            *ngIf="
              tickets.controls[i].get('name').hasError('required') &&
              tickets.controls[i].get('name').touched
            "
          >
            Name is required
          </div>
        </div>
        <div class="col-md-5">
          <div
            class="alert alert-danger"
            *ngIf="
              tickets.controls[i].get('age').hasError('required') &&
              tickets.controls[i].get('age').touched
            "
          >
            Age is required
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" [disabled]="this.buyTicketForm.invalid">
      Buy Tickets
    </button>
  </form>
</div>
